@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* default create-react-app styles */
.App {
  display: flex;
  text-align: center;
}

/* popup mechanic (TD garden jumps up from under the "ground") */
.popup {
  transform: translateY(+3500px);
  transition: transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.popup.slideIn {
  transform: translateY(0);
}
.popup.slideOut {
  transform: translateY(+3500px);
}

.dropmefromsky {
  transform: translateY(-5000px);
  transition: transform 2000ms ease-in;
}
.dropmefromsky.slideIn {
  transform: translateY(0);
}

/* css setup to get the viewport right... canvas is a misnomer here */
html, body, #app, #app>div {
  height: 100%;
}

.canvas {
  height: 100vh;
  width: 100vw;
  background-color: #00bff3;
  /*
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 72%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); 
  */
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
}  

.night-to-day {
  animation: night-to-day 5s ease 0s forwards;
}

.day-to-night {
  animation: day-to-night 5s ease 0s forwards;
}

.dc {
  animation: dc 5s ease 0s forwards;
}

.dusk-to-dawn{
  animation: dusk-to-dawn 5s ease 0s forwards;
}

.dawn-to-dusk{
  animation: dawn-to-dusk 5s ease 0s forwards;
}

@keyframes dc {
    from { background-color: #abe7f4; 
  /*
  background: #012142; 
  background: -moz-linear-gradient(top, #012142 0%, #8f0222 48%, #8f0222 48%, #8f0222 57%, #8f0222 67%, #8f0222 67%, #6d0019 84%); 
  background: -webkit-linear-gradient(top, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  background: linear-gradient(to bottom, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012142', endColorstr='#6d0019',GradientType=0 ); 
  */
    }
    to { background-color: #abe7f4; 
  /*
  background-color: #00bff3;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 72%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  */
    }
}

@keyframes night-to-day {
    from { background-color: #fd5e53; 
  /*
  background: #012142; 
  background: -moz-linear-gradient(top, #012142 0%, #8f0222 48%, #8f0222 48%, #8f0222 57%, #8f0222 67%, #8f0222 67%, #6d0019 84%); 
  background: -webkit-linear-gradient(top, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  background: linear-gradient(to bottom, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012142', endColorstr='#6d0019',GradientType=0 ); 
  */
    }
    to { background-color: #00bff3; 
  /*
  background-color: #00bff3;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 72%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  */
    }
}

@keyframes day-to-night {
    from { background-color: #00bff3; 
  /*
  background-color: #00bff3;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 72%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 72%,#7db9e8 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); 
  */
    }
    to { background-color: #fd5e53; 
  /*
  background: #012142; 
  background: -moz-linear-gradient(top, #012142 0%, #8f0222 48%, #8f0222 48%, #8f0222 57%, #8f0222 67%, #8f0222 67%, #6d0019 84%); 
  background: -webkit-linear-gradient(top, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  background: linear-gradient(to bottom, #012142 0%,#8f0222 48%,#8f0222 48%,#8f0222 57%,#8f0222 67%,#8f0222 67%,#6d0019 84%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012142', endColorstr='#6d0019',GradientType=0 ); 
  */
    }
}

@keyframes dusk-to-dawn {
    from { background-color: navy; 
    }
    to { background-color: pink; 
    }
}

@keyframes dawn-to-dusk {
    from { background-color: pink; 
    }
    to { background-color: navy; 
    }
}

.floor {
  background-color: green;
  position: absolute;
  overflow: "hidden";
  background: url('/assets/Ground-Low.png'); 
  background-repeat: repeat-x;
}

.floor-dc {
  background-color: gray;
  position: absolute;
  overflow: "hidden";
  background-repeat: repeat-x;
}

.floor .wrap {
  height: calc(20vh - 50px);
  background-color: brown;
  position: absolute;
  overflow: "hidden";
  background: url('/assets/Ground.png'); 
}

.floor-dc .wrap {
  height: calc(20vh - 20px);
  background-color: darkgray;
  position: absolute;
  overflow: "hidden";
}


.person {
  height: 200px;
  width: 200px;
  /*background-color: black;*/
  justify-content: 'center';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  overflow: hidden;
}

.person-jimmy {
  height: 200px;
  width: 200px;
  /*background-color: black;*/
  justify-content: 'center';
  position: absolute;
  left: 0;
  right:50%; 
  margin-right:200px; 
  overflow: hidden;
}

.person-flash-animation {

}

.person-walk-animation {

}

.person-slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 1400px;
  height: 400px;
  background: url('/assets/Vegas-Minh-Slides.png'); 
}

.person-slides-jimmy {
  background: url('/assets/Vegas-Jimmy-Slides.png'); 
}

.person-slides-jimmy-dc {
  background: url('/assets/DC-Jimmy-Slides.png'); 
}

@keyframes pan {
  0%{
	transform: translateX(12000px);
  }
  100%{
	transform: translateX(-2000px);
  }
}

@keyframes pan-slow {
  0%{
	transform: translateX(100000px);
  }
  100%{
	transform: translateX(-100000px);
  }
}

@keyframes pan-worldboss {
  0%{
	transform: translateX(12000px);
  }
  15%{
	transform: translateX(7500px);
  }
  100%{
	transform: translateX(-2000px);
  }
}

.train {
  animation: pan-slow 120s ease 0s infinite;
}

.camry {
  animation: pan 15s ease 0s infinite;
}

.prius {
  animation: pan 10s ease 0s infinite;
}

.worldboss {
  animation: pan-worldboss 90s ease 0s normal forwards;
}

.worldboss-shake {
    animation-name: shake-hard;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center center;
}

@keyframes shake-hard {
  2% {
      transform: translate(9px, -2px) rotate(2.5deg);
  }
  4% {
      transform: translate(8px, 5px) rotate(3.5deg);
  }
  6% {
      transform: translate(-3px, 1px) rotate(-1.5deg);
  }
  8% {
      transform: translate(0px, -2px) rotate(2.5deg);
  }
  10% {
      transform: translate(3px, -4px) rotate(-2.5deg);
  }
  12% {
      transform: translate(-1px, 10px) rotate(-.5deg);
  }
  14% {
      transform: translate(0px, 10px) rotate(-1.5deg);
  }
  16% {
      transform: translate(7px, -1px) rotate(3.5deg);
  }
  18% {
      transform: translate(1px, 10px) rotate(3.5deg);
  }
  20% {
      transform: translate(1px, -5px) rotate(3.5deg);
  }
  22% {
      transform: translate(2px, 1px) rotate(3.5deg);
  }
  24% {
      transform: translate(2px, 0px) rotate(2.5deg);
  }
  26% {
      transform: translate(2px, 6px) rotate(2.5deg);
  }
  28% {
      transform: translate(-7px, 3px) rotate(3.5deg);
  }
  30% {
      transform: translate(1px, -1px) rotate(1.5deg);
  }
  32% {
      transform: translate(3px, 5px) rotate(-1.5deg);
  }
  34% {
      transform: translate(-2px, 1px) rotate(-.5deg);
  }
  36% {
      transform: translate(8px, 6px) rotate(.5deg);
  }
  38% {
      transform: translate(-2px, 2px) rotate(-2.5deg);
  }
  40% {
      transform: translate(7px, -5px) rotate(2.5deg);
  }
  42% {
      transform: translate(9px, -9px) rotate(2.5deg);
  }
  44% {
      transform: translate(-7px, 0px) rotate(-2.5deg);
  }
  46% {
      transform: translate(-5px, -6px) rotate(.5deg);
  }
  48% {
      transform: translate(6px, 7px) rotate(.5deg);
  }
  50% {
      transform: translate(3px, -9px) rotate(-2.5deg);
  }
  52% {
      transform: translate(3px, 9px) rotate(.5deg);
  }
  54% {
      transform: translate(-8px, -2px) rotate(-2.5deg);
  }
  56% {
      transform: translate(2px, -2px) rotate(-.5deg);
  }
  58% {
      transform: translate(-3px, -4px) rotate(3.5deg);
  }
  60% {
      transform: translate(0px, 5px) rotate(-2.5deg);
  }
  62% {
      transform: translate(-7px, 8px) rotate(.5deg);
  }
  64% {
      transform: translate(10px, 6px) rotate(1.5deg);
  }
  66% {
      transform: translate(-2px, -6px) rotate(-.5deg);
  }
  68% {
      transform: translate(10px, -6px) rotate(2.5deg);
  }
  70% {
      transform: translate(0px, 7px) rotate(3.5deg);
  }
  72% {
      transform: translate(1px, -8px) rotate(-2.5deg);
  }
  74% {
      transform: translate(5px, -1px) rotate(3.5deg);
  }
  76% {
      transform: translate(-3px, 9px) rotate(-.5deg);
  }
  78% {
      transform: translate(-2px, 8px) rotate(.5deg);
  }
  80% {
      transform: translate(7px, 7px) rotate(3.5deg);
  }
  82% {
      transform: translate(-2px, -8px) rotate(3.5deg);
  }
  84% {
      transform: translate(6px, 5px) rotate(1.5deg);
  }
  86% {
      transform: translate(8px, 9px) rotate(2.5deg);
  }
  88% {
      transform: translate(10px, 1px) rotate(-2.5deg);
  }
  90% {
      transform: translate(9px, -4px) rotate(2.5deg);
  }
  92% {
      transform: translate(-8px, -4px) rotate(1.5deg);
  }
  94% {
      transform: translate(0px, 8px) rotate(1.5deg);
  }
  96% {
      transform: translate(0px, 10px) rotate(1.5deg);
  }
  98% {
      transform: translate(-4px, 5px) rotate(2.5deg);
  }
  0%, 100% {
      transform: translate(0, 0) rotate(0);
  }
}

@keyframes bird {
  0%{
	transform: translateX(-100px);
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
	transform: translateX(+100px);
  }
}

.bird {
  animation: bird 3s ease 0s infinite;
  animation-direction: alternate;
}

@keyframes crowd {
  0%{
    transform: rotateY(0deg) translateX(+200px);
    transform-origin:left;
  }
  49%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  51%{
    transform: rotateY(180deg);
  }
  99%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(180deg);
  }
}

.crowd {
  animation: crowd 2s ease 0s infinite forwards;
  animation-direction: alternate;
  animation-delay: 0s;
}

@keyframes crowd-2 {
  0%{
    transform: rotateY(180deg) translateX(-200px);
    transform-origin:right;
  }
  49%{
    transform: rotateY(180deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  51%{
    transform: rotateY(0deg);
  }
  99%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

.crowd-2 {
  animation: crowd-2 6s ease 1s infinite forwards;
  animation-direction: alternate;
  animation-delay: 1s;
}

@keyframes crowd-3 {
  0%{
    transform: rotateY(180deg) translateX(-200px);
    transform-origin:right;
  }
  49%{
    transform: rotateY(180deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  51%{
    transform: rotateY(0deg);
  }
  99%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

.crowd-3 {
  animation: crowd-3 3s ease 0s infinite forwards;
  animation-direction: alternate;
  animation-delay: 4s;
}

@keyframes crowd-4 {
  0%{
    transform: rotateY(180deg) translateX(-1200px);
    transform-origin:left;
  }
  49%{
    transform: rotateY(180deg);
  }
  50%{
    transform: rotateY(0deg);
  }
  51%{
    transform: rotateY(0deg);
  }
  99%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

.crowd-4 {
  animation: crowd-4 10s ease 0s infinite forwards;
  animation-direction: alternate;
  animation-delay: 1s;
}

/* css styles and animation config for fireworks. crediting Eddie Lin: https://codepen.io/yshlin/pen/ylDEk  */
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -11px -66.6666666667px #51ff00, -22px 1.3333333333px #00eeff, -249px -353.6666666667px #00ff95, 176px -360.6666666667px #2f00ff, -22px -336.6666666667px #8800ff, 235px -23.6666666667px #9dff00, -173px 54.3333333333px #b7ff00, 128px -189.6666666667px #00ffbf, -49px -41.6666666667px deepskyblue, -235px -163.6666666667px #00ff40, 81px -46.6666666667px #66ff00, -130px -384.6666666667px #0051ff, -67px -252.6666666667px #09ff00, -195px -83.6666666667px #4dff00, -136px -375.6666666667px #33ff00, -163px -111.6666666667px #00ff11, 115px -202.6666666667px #b7ff00, -40px -320.6666666667px #00ffe1, 215px -350.6666666667px #6f00ff, -247px -337.6666666667px #0900ff, 166px -183.6666666667px #0900ff, 171px -335.6666666667px #e1ff00, -192px -120.6666666667px #ff0400, -170px -413.6666666667px #00ff66, 239px -43.6666666667px #40ff00, -150px -38.6666666667px #ff002b, -107px -99.6666666667px #f2ff00, 28px -385.6666666667px #8cff00, 247px 76.3333333333px #00ff2f, 20px -63.6666666667px #ff00a6, -44px 30.3333333333px #0095ff, 236px -24.6666666667px #0d00ff, 126px -200.6666666667px #59ff00, 130px -379.6666666667px #e100ff, 93px -164.6666666667px #ff1a00, 136px -371.6666666667px #c800ff, -229px 82.3333333333px #00ff09, -126px -312.6666666667px #ff5e00, -116px 71.3333333333px #ff0084, -46px -378.6666666667px #7b00ff, -176px -383.6666666667px #62ff00, -184px 37.3333333333px #ff0022, -47px -313.6666666667px #ff9d00, 162px -249.6666666667px #006fff, 33px -147.6666666667px #ff2f00, -208px -206.6666666667px #0015ff, -142px -148.6666666667px #e600ff, -11px 10.3333333333px #ff00f7, -223px 61.3333333333px #ff00e6, 177px -322.6666666667px #7b00ff, 129px 16.3333333333px #4000ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -11px -66.6666666667px #51ff00, -22px 1.3333333333px #00eeff, -249px -353.6666666667px #00ff95, 176px -360.6666666667px #2f00ff, -22px -336.6666666667px #8800ff, 235px -23.6666666667px #9dff00, -173px 54.3333333333px #b7ff00, 128px -189.6666666667px #00ffbf, -49px -41.6666666667px deepskyblue, -235px -163.6666666667px #00ff40, 81px -46.6666666667px #66ff00, -130px -384.6666666667px #0051ff, -67px -252.6666666667px #09ff00, -195px -83.6666666667px #4dff00, -136px -375.6666666667px #33ff00, -163px -111.6666666667px #00ff11, 115px -202.6666666667px #b7ff00, -40px -320.6666666667px #00ffe1, 215px -350.6666666667px #6f00ff, -247px -337.6666666667px #0900ff, 166px -183.6666666667px #0900ff, 171px -335.6666666667px #e1ff00, -192px -120.6666666667px #ff0400, -170px -413.6666666667px #00ff66, 239px -43.6666666667px #40ff00, -150px -38.6666666667px #ff002b, -107px -99.6666666667px #f2ff00, 28px -385.6666666667px #8cff00, 247px 76.3333333333px #00ff2f, 20px -63.6666666667px #ff00a6, -44px 30.3333333333px #0095ff, 236px -24.6666666667px #0d00ff, 126px -200.6666666667px #59ff00, 130px -379.6666666667px #e100ff, 93px -164.6666666667px #ff1a00, 136px -371.6666666667px #c800ff, -229px 82.3333333333px #00ff09, -126px -312.6666666667px #ff5e00, -116px 71.3333333333px #ff0084, -46px -378.6666666667px #7b00ff, -176px -383.6666666667px #62ff00, -184px 37.3333333333px #ff0022, -47px -313.6666666667px #ff9d00, 162px -249.6666666667px #006fff, 33px -147.6666666667px #ff2f00, -208px -206.6666666667px #0015ff, -142px -148.6666666667px #e600ff, -11px 10.3333333333px #ff00f7, -223px 61.3333333333px #ff00e6, 177px -322.6666666667px #7b00ff, 129px 16.3333333333px #4000ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -11px -66.6666666667px #51ff00, -22px 1.3333333333px #00eeff, -249px -353.6666666667px #00ff95, 176px -360.6666666667px #2f00ff, -22px -336.6666666667px #8800ff, 235px -23.6666666667px #9dff00, -173px 54.3333333333px #b7ff00, 128px -189.6666666667px #00ffbf, -49px -41.6666666667px deepskyblue, -235px -163.6666666667px #00ff40, 81px -46.6666666667px #66ff00, -130px -384.6666666667px #0051ff, -67px -252.6666666667px #09ff00, -195px -83.6666666667px #4dff00, -136px -375.6666666667px #33ff00, -163px -111.6666666667px #00ff11, 115px -202.6666666667px #b7ff00, -40px -320.6666666667px #00ffe1, 215px -350.6666666667px #6f00ff, -247px -337.6666666667px #0900ff, 166px -183.6666666667px #0900ff, 171px -335.6666666667px #e1ff00, -192px -120.6666666667px #ff0400, -170px -413.6666666667px #00ff66, 239px -43.6666666667px #40ff00, -150px -38.6666666667px #ff002b, -107px -99.6666666667px #f2ff00, 28px -385.6666666667px #8cff00, 247px 76.3333333333px #00ff2f, 20px -63.6666666667px #ff00a6, -44px 30.3333333333px #0095ff, 236px -24.6666666667px #0d00ff, 126px -200.6666666667px #59ff00, 130px -379.6666666667px #e100ff, 93px -164.6666666667px #ff1a00, 136px -371.6666666667px #c800ff, -229px 82.3333333333px #00ff09, -126px -312.6666666667px #ff5e00, -116px 71.3333333333px #ff0084, -46px -378.6666666667px #7b00ff, -176px -383.6666666667px #62ff00, -184px 37.3333333333px #ff0022, -47px -313.6666666667px #ff9d00, 162px -249.6666666667px #006fff, 33px -147.6666666667px #ff2f00, -208px -206.6666666667px #0015ff, -142px -148.6666666667px #e600ff, -11px 10.3333333333px #ff00f7, -223px 61.3333333333px #ff00e6, 177px -322.6666666667px #7b00ff, 129px 16.3333333333px #4000ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -11px -66.6666666667px #51ff00, -22px 1.3333333333px #00eeff, -249px -353.6666666667px #00ff95, 176px -360.6666666667px #2f00ff, -22px -336.6666666667px #8800ff, 235px -23.6666666667px #9dff00, -173px 54.3333333333px #b7ff00, 128px -189.6666666667px #00ffbf, -49px -41.6666666667px deepskyblue, -235px -163.6666666667px #00ff40, 81px -46.6666666667px #66ff00, -130px -384.6666666667px #0051ff, -67px -252.6666666667px #09ff00, -195px -83.6666666667px #4dff00, -136px -375.6666666667px #33ff00, -163px -111.6666666667px #00ff11, 115px -202.6666666667px #b7ff00, -40px -320.6666666667px #00ffe1, 215px -350.6666666667px #6f00ff, -247px -337.6666666667px #0900ff, 166px -183.6666666667px #0900ff, 171px -335.6666666667px #e1ff00, -192px -120.6666666667px #ff0400, -170px -413.6666666667px #00ff66, 239px -43.6666666667px #40ff00, -150px -38.6666666667px #ff002b, -107px -99.6666666667px #f2ff00, 28px -385.6666666667px #8cff00, 247px 76.3333333333px #00ff2f, 20px -63.6666666667px #ff00a6, -44px 30.3333333333px #0095ff, 236px -24.6666666667px #0d00ff, 126px -200.6666666667px #59ff00, 130px -379.6666666667px #e100ff, 93px -164.6666666667px #ff1a00, 136px -371.6666666667px #c800ff, -229px 82.3333333333px #00ff09, -126px -312.6666666667px #ff5e00, -116px 71.3333333333px #ff0084, -46px -378.6666666667px #7b00ff, -176px -383.6666666667px #62ff00, -184px 37.3333333333px #ff0022, -47px -313.6666666667px #ff9d00, 162px -249.6666666667px #006fff, 33px -147.6666666667px #ff2f00, -208px -206.6666666667px #0015ff, -142px -148.6666666667px #e600ff, -11px 10.3333333333px #ff00f7, -223px 61.3333333333px #ff00e6, 177px -322.6666666667px #7b00ff, 129px 16.3333333333px #4000ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -11px -66.6666666667px #51ff00, -22px 1.3333333333px #00eeff, -249px -353.6666666667px #00ff95, 176px -360.6666666667px #2f00ff, -22px -336.6666666667px #8800ff, 235px -23.6666666667px #9dff00, -173px 54.3333333333px #b7ff00, 128px -189.6666666667px #00ffbf, -49px -41.6666666667px deepskyblue, -235px -163.6666666667px #00ff40, 81px -46.6666666667px #66ff00, -130px -384.6666666667px #0051ff, -67px -252.6666666667px #09ff00, -195px -83.6666666667px #4dff00, -136px -375.6666666667px #33ff00, -163px -111.6666666667px #00ff11, 115px -202.6666666667px #b7ff00, -40px -320.6666666667px #00ffe1, 215px -350.6666666667px #6f00ff, -247px -337.6666666667px #0900ff, 166px -183.6666666667px #0900ff, 171px -335.6666666667px #e1ff00, -192px -120.6666666667px #ff0400, -170px -413.6666666667px #00ff66, 239px -43.6666666667px #40ff00, -150px -38.6666666667px #ff002b, -107px -99.6666666667px #f2ff00, 28px -385.6666666667px #8cff00, 247px 76.3333333333px #00ff2f, 20px -63.6666666667px #ff00a6, -44px 30.3333333333px #0095ff, 236px -24.6666666667px #0d00ff, 126px -200.6666666667px #59ff00, 130px -379.6666666667px #e100ff, 93px -164.6666666667px #ff1a00, 136px -371.6666666667px #c800ff, -229px 82.3333333333px #00ff09, -126px -312.6666666667px #ff5e00, -116px 71.3333333333px #ff0084, -46px -378.6666666667px #7b00ff, -176px -383.6666666667px #62ff00, -184px 37.3333333333px #ff0022, -47px -313.6666666667px #ff9d00, 162px -249.6666666667px #006fff, 33px -147.6666666667px #ff2f00, -208px -206.6666666667px #0015ff, -142px -148.6666666667px #e600ff, -11px 10.3333333333px #ff00f7, -223px 61.3333333333px #ff00e6, 177px -322.6666666667px #7b00ff, 129px 16.3333333333px #4000ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.vegas-sign-glow-slides {
  width: 850px;
  height: 790px;
  background: url('/assets/Vegas-Sign-Glow-Slides.png') left center;
  animation: play-vegas-sign-glow 2.5s steps(3) infinite;
}

@keyframes play-vegas-sign-glow {
   100% { background-position: -2550px; }
}

.vegas-luxor-slides {
  width: 1000px;
  height: 1020px;
  background: url('/assets/Vegas-Luxor-Slides.png') left center;
  animation: play-vegas-luxor 5s steps(2) infinite;
}

@keyframes play-vegas-luxor {
   100% { background-position: -2000px; }
}

.vegas-hard-rock-slides {
  width: 1340px;
  height: 810px;
  background: url('/assets/Vegas-Hard-Rock-Slides.png') left center;
  animation: play-vegas-hard-rock 2s steps(3) infinite;
}

@keyframes play-vegas-hard-rock {
   100% { background-position: -4020px; }
}

.vegas-statue-liberty-slides {
  width: 584px;
  height: 772px;
  background: url('/assets/Vegas-Statue-Liberty-Slides.png') left center;
  animation: play-vegas-statue-liberty 4s steps(3) infinite;
}

@keyframes play-vegas-statue-liberty {
   100% { background-position: -1752px; }
}

.vegas-eiffel-slides {
  width: 476px;
  height: 860px;
  background: url('/assets/Vegas-Eiffel-Slides.png') left center;
  animation: play-vegas-eiffel 6s steps(3) infinite;
}

@keyframes play-vegas-eiffel {
   100% { background-position: -1428px; }
}

.vegas-bellagio-slides {
  width: 1530px;
  height: 782px;
  background: url('/assets/Vegas-Bellagio-Slides.png') left center;
  animation: play-vegas-ballagio 12s steps(8) infinite;
}

@keyframes play-vegas-ballagio {
   100% { background-position: -12240px; }
}

.vegas-stratosphere-slides {
  width: 455px;
  height: 1373px;
  background: url('/assets/Vegas-Stratosphere-Slides.png') left center;
  animation: play-vegas-stratosphere 12s steps(3) infinite;
}

@keyframes play-vegas-stratosphere {
   100% { background-position: -1365px; }
}

.vegas-teleporter {
  width: 309px;
  height: 1007px;
  background: url('/assets/Vegas-Teleporter-Slides.png') left center;
}

.vegas-teleporter-slides {
  width: 309px;
  height: 1007px;
  background: url('/assets/Vegas-Teleporter-Slides.png') left center;
  animation: play-vegas-teleporter 3s steps(7, end) forwards;
}

@keyframes play-vegas-teleporter {
   100% { background-position: -2163px; }
}

.billboard {
  width: 403px;
  height: 707px;
  background: url('/assets/Billboard.png') left center;
}

.billboard-slides {
  width: 403px;
  height: 707px;
  background: url('/assets/Billboard.png') left center;
  animation: play-billboard 3s steps(2) infinite;
}

@keyframes play-billboard {
   100% { background-position: -806px; }
}

.notification {
  color: white;
  width: 75vw;
  height: 5vh;
  text-align: center;
  animation: blinker 4s ease infinite;
  font-size: 1.4em;
  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* https://codepen.io/DanielWeiner/pen/iFadn */
@font-face {
  font-family: 'Press Start 2p';
}

.video-game-button {
  background-color: black;
  font-size: 24pt;
  font-family: 'Press Start 2p';
	text-shadow: 1px 1px pink, -1px -1px maroon;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(to left, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(to left, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(to left, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(to left, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.start-btn{
  background-color: black;
  font-size: 24pt;
  font-family: 'Press Start 2p';
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
